# cp noTurboAtStartUp.sh /usr/bin
# cp noTurboAtStartUp.service /usr/lib/systemd/system/
# systemctl start noTurboAtStartUp
# systemctl enable noTurboAtStartUp
[Unit]
Description=Disable turbo capability when system start
After=network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=noTurboAtStartUp.sh
User=root
Restart=always
RestartSec=3600000

[Install]
WantedBy=multi-user.target
